/* start & helpers */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

.dimTest {
    height: 600px;
    width: 100%;
}

.flex {
    display: flex;
}

.justifyContentSpaceBetween {
    justify-content: space-between;
}

.alignItemCenter {
    align-items: center;
}

.positionFixed {
    position: fixed;
}

.width30 {
    width: 30%;
}
.width70 {
    width: 70%;
}
.width100 {
    width: 100%;
}

.height100 {
    height: 100%;
}

.padding1rem {
    padding: 1rem;
}

.marginLeft1em {
    margin-left: 1rem;
}

.marginRight1rem {
    margin-right: 1rem;
}

.marginBottom1Rem {
    margin-bottom: 1em;
}

.backgroundColorDropbox {
    background-color: #B4D0E7;
}

.centerContent {
    max-width: 1000px;
    margin: 0 auto;

}
 .mainBox {
    max-width: 800px;
 }


.colorBlue {
    color: #0061FF;
}
/* header */

header {
    height: 65px;
    top: 0;
    background-color: white;
}

.centratesto {
    line-height: 65pc;
}

header button {
    background-color: #0061FF;
    padding: 0.5em 1em;
    border: none;
    color: white;
}


/* main */
main {
    margin-top: 65px;
}

#jumbo {
    width: 600px;
    display: block;
}

h1 {
    padding-top: 1em;
    font-size: 50px ;
    margin-bottom: 1em ;
}

main button {
    margin:1em 0;
    background-color: #0061FF;
    padding: 0.5em 1em;
    border: none;
    color: white;
}

.flex .width30 i {
    font-size: 40px ;
    margin-top: 60px;
}

.mainBox {
    width: 800px;
    margin: 2rem auto;
}

h2 {
    font-size: 26px;
    margin: 1em 0;
}
.buttonSelected {
    height: 1rem;
    width: 1rem;
    border: 3px solid #0061FF;
    border-radius: 50%;
}

.buttonUnselected {
    height: 1rem;
    width: 1rem;
    border: 1px solid #DADADC;
    border-radius: 50%;
}

.borderSolidGray {
    border: 1px solid #DADADC;
}

h3 {
    margin-top: 1em;
}

.borderSolidGray hr {
    border-color: #DADADC;
}