/* start & helpers */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

.dimTest {
    height: 600px;
    width: 100%;
}

.flex {
    display: flex;
}

.justifyContentSpaceBetween {
    justify-content: space-between;
}

.alignItemCenter {
    align-items: center;
}

.positionFixed {
    position: fixed;
}

.width30 {
    width: 30%;
}
.width70 {
    width: 70%;
}
.width100 {
    width: 100%;
}

.height100 {
    height: 100%;
}

.padding1rem {
    padding: 1rem;
}

.marginLeft1rem {
    margin-left: 1rem;
}

.marginRight1rem {
    margin-right: 1rem;
}

.backgroundColorDropbox {
    background-color: #B4D0E7;
}

.centerContent {
    max-width: 1000px;
    margin: 0 auto;

}

/* header */

header {
    height: 65px;
    top: 0;
    background-color: white;
}

.centratesto {
    line-height: 65pc;
}

header button {
    background-color: #0061FF;
    padding: 0.5em 1em;
    border: none;
    color: white;
}


/* main */
main {
    margin-top: 65px;
}

#jumbo {
    width: 600px;
    display: block;
}

h1 {
    padding-top: 1em;
    font-size: 50px ;
    margin-bottom: 1em ;
}

main button {
    margin:1em 0;
    background-color: #0061FF;
    padding: 0.5em 1em;
    border: none;
    color: white;
}

.flex .width30 i {
    font-size: 40px ;
    margin-top: 60px;
}